body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.基本文本框架 {
	border-style: solid;
	margin-top: -100px;
}
p.基本段落 {
	color:#000000;
	font-family:"Adobe Song Std L", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.CharOverride-1 {
	font-family:"Microsoft YaHei", sans-serif;
	font-size:72px;
	font-style:normal;
	font-weight:bold;
}
img._idGenPageitem-1 {
	height:100%;
	width:auto;
}
div._idGenPageitem-2 {
	display:inline-block;
	height:249px;
	width:auto;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
