@charset "utf-8";
/* CSS Document */
#header
	{
		height:108px;
		background-image:url(img/title.png);
		width: auto;
		min-width: 480px; 
		-webkit-box-sizing: content-box; 
		-moz-box-sizing: content-box; 
		margin: header; 
		box-sizing: content-box; 
		border-width: thin;
	}
#nav
	{
		list-style-type:none;
		margin-left: 135px;
		margin-top: -52px;
		text-decoration:none;
		text-transform:uppercase;
	}	
#nav li
	{
		float:left;
		font-family:"Myriad Pro","Gill Sans", "Gill Sans MT" , "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	}
#nav a:link,a:visited
	{
		display:block;
		width:120px;
		font-weight:bold;
		color:#FFFFFF;
		background-color:#bebebe;
		text-align:center;
		padding:5px 4px 4px 4px;
		text-decoration:none;
		text-transform:uppercase;
	}
#nav a:hover,a:active
	{
		background-color:#207CA8;
		color:#104158;
	}
#Container
	{
		float:left;
	}	
#list
	{
		width:20%;
		height:500px;
		text-align:center;
		float:left;
	}
.article_list_title
	{
		color:#FFFFFF;
	}	
.article_list li
	{
		text-align:left;
		list-style-type:none;
	}
#content
	{
		float:right;
		min-height:500px;
		width:80%;
		font: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
		color:#000000;
	}
#footer
	{
		background-color:#207CA8;
		margin:auto;
	}
.netmap
	{
		list-style:none;
		text-decoration:none;
	}
.netmap
	{
	}
.netmap li
	{
		font-family:"Myriad Pro","Gill Sans", "Gill Sans MT" , "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	}
.netmap a:link,a:visited
	{
		width:120px;
		font-weight:bold;
		color:#FFFFFF;
		text-align:center;
		padding:5px 4px 4px 4px;
		text-decoration:none;
		text-transform:uppercase;
	}
.netmap a:hover,a:active
	{
		color:#104158;
	}
.article_list
	{
		text-align:left;
		text-decoration:none;
		list-style:none; 
	}